{% extends "base.html" %}
{% load staticfiles %}
{% block main_right %}
<div id="main_right">
			<div id="banner">
				<img src="/static/image/1589282946205.jpeg" style="width: 800px;height: 400px;" alt="敢想敢做" class="img" />
				<img src="/static/image/1589282636678.jpeg" style="width: 800px;height: 400px;" alt="努力" class="img" />
				<img src="/static/image/IMG_20200512_193113.jpg" style="width: 800px;height: 400px;" alt="未来可期" class="img">
				<ul>
					<li class="li">❁</li>
					<li class="li">❁</li>
					<li class="li">❁</li>
				</ul>
				<span></span>
				<strong></strong>
			</div>
			<div id="index">
				<div id="tab_buttons">
					<ul>
						<li class="newscurrent">个人笔记</li>
						<li>新知识💗</li>
						<li>推荐工具</li>
					</ul>
				</div>
				<div id="newstab">
					<ul>
						<li>
							<a href="###">
								<img src="/static/image/半透明.png" style="width: 200px;height: 100px;top: 10px;" />
								<span class="span1">表白小程序-送给最爱的</span>
							</a>
						</li>
						<li>
							<a href="###">
								<img src="https://picabstract-preview-ftn.weiyun.com/ftn_pic_abs_v3/d8f28e3799bdd5198719aeccbaa3d9e75ec6bd77ec5db3ee065ed38e314821a831fd753e38d7d18ccccdd576dc8c4f0b?pictype=scale&amp;from=30013&amp;version=3.3.3.3&amp;uin=1538933906&amp;fname=jdk%20Download.png&amp;size=750"
								 style="width: 200px;height: 100px;bottom: 10px;">
								<span class="span2">JAVA-001-JDK安装</span>
							</a>
						</li>
					</ul>
					<dl class="newslist">
						<dd><span>1 </span>
							<a href="/navigate/1/44" title="表白小程序-送给最爱的人">表白小程序-送给最爱的人</a>
							<p>通过Swing来实现</p>
						</dd>
						<dd><span>2 </span>
							<a href="/navigate/1/43" title="JAVA-001-JDK安装">JAVA-001-JDK安装</a>
							<p>学习Java必看知识点</p>
						</dd>
						<dd><span>3 </span>
							<a href="/navigate/1/41" title="贪吃蛇小游戏">贪吃蛇小游戏</a>
							<p>简单的GUI实现小游戏,回顾知识,回味经典</p>
						</dd>
						<dd><span>4 </span>
							<a href="/navigate/1/40" title="springMVC-07-文件上传">springMVC-07-文件上传</a>
							<p>springMVC的文件上传,使用更加方便</p>
						</dd>
						<dd><span>5 </span>
							<a href="/navigate/1/39" title="springMVC-06-自定义错误">springMVC-06-自定义错误</a>
							<p>自定义什么时候出现错误并处理</p>
						</dd>
					</dl>
				</div>
				<div id="newsmid">
					<ul>
						<li>
							<a href="###">
								<img src="https://picabstract-preview-ftn.weiyun.com/ftn_pic_abs_v3/aa8b5d2b326275addba5f99ce9f9f1a820c7355d3d5b74f8cc883d5fb0f97d433963b2b47feec63024f252b32156b2a2?pictype=scale&from=30013&version=3.3.3.3&uin=1538933906&fname=u%3D3415617548%2C1216693599%26fm%3D26%26gp%3D0.jpg&size=750" style="width: 210px;height: 110px;top: 10px;" />
								<span class="span1">redis-02-Hash类型</span>
							</a>
						</li>
						<li>
							<a href="###">
								<img src="https://picabstract-preview-ftn.weiyun.com/ftn_pic_abs_v3/aa8b5d2b326275addba5f99ce9f9f1a820c7355d3d5b74f8cc883d5fb0f97d433963b2b47feec63024f252b32156b2a2?pictype=scale&from=30013&version=3.3.3.3&uin=1538933906&fname=u%3D3415617548%2C1216693599%26fm%3D26%26gp%3D0.jpg&size=750"
								 style="width:210px;height:110px;bottom: 10px;">
								<span class="span2">redis-01-String类型</span>
							</a>
						</li>
					</ul>
					<dl class="newslist1">
						<dd><span>1 </span>
							<a href="/navigate/3/42" title="Redis-02-Hash类型">&nbsp;Redis-02-Hash类型</a>
							<p>将JSON等数据存入数据库,使用方便</p>
						</dd>
						<dd><span>2 </span>
							<a href="/navigate/3/29" title="Redis-01-String类型">&nbsp;Redis-01-String类型</a>
							<p>Redis是一个非关系型数据库,使用方便</p>
						</dd>
					</dl>
				</div>
				<div id="newslast">
					<ul>
						<li>
							<a href="###">
								<img src="https://picabstract-preview-ftn.weiyun.com/ftn_pic_abs_v3/08ab104322ff228c081c09d5ff88d0020ecb4c61a14e0d19a2ffe02e60c18599908bd8bfa4224eef45f8ea4ed2ccca37?pictype=scale&from=30013&version=3.3.3.3&uin=1538933906&fname=timg%281%29.jpg&size=750" style="width: 210px;height: 110px;top: 10px;" />
								<span class="span1">网页抓取工具</span>
							</a>
						</li>
					</ul>
					<dl class="newslist2">
						<dd><span>1 </span>
							<a href="/navigate/3/42" title="网页抓取工具">&nbsp;网页抓取工具</a>
							<p>可以抓取一个网站所有静态内容,通过简单的步骤安装后就可以使用</p>
						</dd>
					</dl>
				</div>
			</div>
			<div id="zhuanti">
				<h2 id="title">特别推荐
				<span  class="hnav">
					<a href="###" target="_blank">个人日记 /</a>
					<a href="###" target="_blank">新知识💗 /</a>
					<a href="###" target="_blank">学习感悟</a>
				</span>
				</h2>
				<ul>
					<li>
						<a href="###" target="_blank"><img src="https://picabstract-preview-ftn.weiyun.com/ftn_pic_abs_v3/6d3a7479a9c816f64166932293e167e8ff53c9c0598c40be7aa2deb853ea436cce24a3e555dd444cd076a3f11bc2071c?pictype=scale&from=30013&version=3.3.3.3&uin=1538933906&fname=u%3D1531711675%2C3243572643%26fm%3D200%26gp%3D0.jpg&size=750"/> </a>
					<b>我仍在初心等你归来</b>
					<span>收藏太多的孤寂，身后深深浅浅的足迹，都装满故事，未曾想是你，带来偶遇的惊喜...</span>
					<p href="###" target="_blank">+文章阅读</p>
					</li>

					<li>
						<a href="###" target="_blank"><img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1713396441,1487163637&fm=26&gp=0.jpg" /> </a>
					<b>平凡的一周</b>
					<span>刘同说：“青春就是九个字：不要脸，讲了命，尽了兴”。或许...</span>
					<p href="###" target="_blank">+文章阅读</p>
					</li>

					<li>
						<a href="###" target="_blank"><img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2462146637,4274174245&fm=26&gp=0.jpg" /> </a>
					<b>承认吧，你是失败者</b>
					<span>失败？对，承认。我是失败者，然后继续努力</span>
					<p href="###" target="_blank">+文章阅读</p>
					</li>

					<li>
						<a href="###" target="_blank"><img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3922344982,423380743&fm=26&gp=0.jpg" /> </a>
					<b>小感悟</b>
					<span>我可以接受失败，但我不能接受放弃</span>
					<p href="###" target="_blank">+文章阅读</p>
					</li>

					<li>
						<a href="###" target="_blank"><img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1618007397,4183425847&fm=26&gp=0.jpg"/> </a>
					<b>世间美好与你环环相扣</b>
					<span>不负时光，野蛮生长。看过人间无数烟火，仍想尽力去游历，去学习，做最好的自己。</span>
					<p href="###" target="_blank">+文章阅读</p>
					</li>

					<li>
						<a href="###" target="_blank"><img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2920180202,2202496813&fm=26&gp=0.jpg"/> </a>
					<b>欢迎观看单身狗直播</b>
					<span>无视骚里骚气的情侣，不吃狗粮!</span>
					<p href="###" target="_blank">+文章阅读</p>
					</li>
				</ul>
            </div>
			<div id="new_bolg">
				<h2 class="htitle">最新博文</h2>
				<ul>
                    {% for article in article_list %}
					<li>
						<h3 class="bolgtitle">
							<a href=" article_detail/{{article.id}}" target="_blank">{{ article.title }}</a>
						</h3>
						<span>
                            {% for tag in article.tag.all %}
							<i>
								<a href=" article_detail/{{article.id}}" target="_blank">{{ tag.name }}</a>
							</i>
                            {% endfor %}
							<a class="ia" href=" article_detail/{{article.id}}" title="{{ article.title }}">
								{% for image in article.image.all %}
                                <img src="/uploads/{{ image.image }}" />
                                {% endfor %}
							</a>
						</span>
						<p class="bolgtext">{{ article.desc }}</p>
						<p class="bloginfo">
							<span class="bolgtime">{{ article.data_publish |date:"Y-m-d"}}</span>
                            {% for tag in article.tag.all %}
                            <span>
							【<a href="###">{{ tag.name }}</a>】
							</span>
                            {% endfor %}
						</p>
						<a href=" article_detail/{{article.id}}" class="viewmore">阅读更多</a>
					</li>
                    {% endfor %}
				</ul>
			</div>
            <div id="pagination">
                <ul id="pagination-flickr">
                    {% if article_list.has_previous %}
                    <li class="previous"><a href="?page={{ article_list.previous_page_number }}#abc">&laquo;上一页</a></li>
                    {% else %}
                    <li class="previous-off">&laquo;上一页</li>
                    {% endif %}
                    <li class="active" ><a name="abc"></a>{{ article_list.number }}/{{ article_list.paginator.num_pages }}</li>
                    {% if article_list.has_next %}
                    <li class="next"><a href="?page={{ article_list.next_page_number }}#abc">下一页&raquo;</a></li>
                    {% else %}
                        <li class="next-off">下一页&raquo;</li>
                    {% endif %}
                </ul>
            </div>
		</div>
{% endblock %}