<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=drive-width,initial-scale=1.0">
<link rel="stylesheet" href="/static/css/login.css">
<!-- font-awesome 图标字体 http://www.fontawesome.com.cn/faicons/#web-application -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css">
<title>Demo</title>
</head>
    <div id="login-box">
        <h1>Login</h1>
        <div class="form">
            <div class="item">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <input type="text" placeholder="Username">
            </div>
            <div class="item">
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="text" placeholder="Password">
            </div>
        </div>
        <button>Login</button>
    </div>
<body>
</body>
</html>